/* VISUAL */
.visual {
  /* 헤더의 높이값 120 이니까 */
  margin-top: 120px;
  background-image: url("../images/visual_bg.jpg");
  background-position: center;
}
.visual .inner {
  height: 646px;
  /* background-color: orange; */
}
.visual .title {
  position: absolute;
  top: 88;
  left: -10px;  
}
/* 버튼을 타이틀에 묶어놨기 때문에 타이틀이 이동하면 같이 이동한다 */
/* .visual .inner(생략가능) .title .btn */
.visual .title .btn {
  position: absolute;
  top: 259px;
  left: 173px;
}
.visual .cup1.image {
  position: absolute;
  bottom: 0;
  right: -47px;
}
.visual .cup1.text {
  position: absolute;
  top: 38;
  right: 171px;
}
.visual .cup2.image {
  position: absolute;
  bottom: 0;
  right: 162px;
}
.visual .cup2.text {
  position: absolute;
  top: 321px;
  right: 416px;
}
.visual .spoon {
  position: absolute;
  bottom: 0;
  left: 275px;
}
/* 안보이게 해놓기 -> 순차적으로 js에서 서서히 보이도록 작업 */
.visual .fade-in {
  opacity: 0;
}


/* NOTICE */
/* .notice {

} */
.notice .notice-line {
  position: relative;
}
.notice .notice-line .bg-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #333;
}
.notice .notice-line .bg-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #f6f5ef;
}
.notice .notice-line .inner {
  height: 62px;
  /* border: 2px solid red; */
  display: flex;
}
.notice .notice-line .inner__left {
  width: 60%;
  height: 100%;
  background-color: #333;
  /* 수평 */
  display: flex;
  /* 수직 정렬 */
  align-items: center;
}
/* 공지사항 */
.notice .notice-line .inner__left h2 {
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  margin-right: 20px;
}
/* 슬라이더 */
.notice .notice-line .inner__left .swiper-container {
  height: 62px;
  /* background-color: orange; */
  /* 최대한 늘어나라 */
  flex-grow: 1;
}
/* 스와이프 슬라이더 */
.notice .notice-line .inner__left .swiper-slide {
  height: 62px;
  display: flex;
  align-items: center;
}
.notice .notice-line .inner__left .swiper-slide a {
  color: #fff;
}
/* 플러스 아이콘 */
.notice .notice-line .inner__left .notice-line__more {
  /* 아이콘을 가운데 정렬 */
  width: 62px;
  height: 62px;
  display: flex;
  /* 수평 가운데 */
  justify-content: center;
  /* 수직 가운데 */
  align-items: center;
}
.notice .notice-line .inner__left .notice-line__more .material-icons {
  color: #fff;
  font-size: 30;
}
.notice .notice-line .inner__right {
  width: 40%;
  height: 100%;
  display: flex;
  /* 수평정렬을 플랙스앤드, 수평의 끝점으로 이동=오른쪽 정렬 */
  justify-content: flex-end;
  /* 수직 가운데 */
  align-items: center;
}
.notice .notice-line .inner__right h2 {
  font-size: 17px;
  font-weight: 700;
}
  /* 토글 프로모션 */
.notice .notice-line .inner__right .toggle-promotion {
  width: 62px;
  height: 62px;
  /* a태그가 아니니까 마우스 커서 포인터로 변경, 사용자에게 버튼이라고 인식 */
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notice .notice-line .inner__right .toggle-promotion .material-icons {
  font-size: 30px;
}
.notice .promotion {
  height: 693px;
  background-color: #f6f5ef;
  position: relative;
  transition: height .4s;
  overflow: hidden;
}
/* 띄어쓰기 넣으면 안된다, 일치선택자를 통해서 프로모션이라는 요소에 하이드라는 클래스가 붙어있는 경우를 의미하도록 */
.notice .promotion.hide {
  height: 0;
}
.notice .promotion .swiper-container {
  /* 819px 3개, 사이 여백이 20px */
  /* cale() 함수!! 많이 사용된다. 예)width: calc(100% - 50px); */
  width: calc(819px * 3 + 20px);
  height: 553px;
  /* background-color: orange;
  text-align: center;
  font-size: 200px; */
  /* 부모요소 기준으로 배치한다 */
  position: absolute;
  top: 40px;
  /* 요소를 가운데 배치하기, 50%위치에 배치해서, 수치를 적어서 땡겨온다 */
  left: 50%;
  margin-left: calc((819px * 3 + 20px) / -2);
}
/* 개발자도구 열어서 클래스 이름 확인하기 */
.notice .promotion .swiper-slide {
  opacity: .5;
  transition: opacity 1s;
  position: relative;
}
.notice .promotion .swiper-slide-active {
  opacity: 1;
}
.notice .promotion .swiper-slide .btn {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  /* 가로 너비가 필요하지만 상단 .btn에서 명시했기 때문에 밑에서는 명시하지 않아도 괜찮다. */
  margin: auto;
}
/* 스와이퍼 페이지네이션, 기본 적용되어있는 포지션들이 있다 */
/* 추가적으로 필요한 내용 작성 */
.notice .promotion .swiper-pagination {
  bottom: 40px;
  left: 0;
  right: 0;
}
/* 개발자 도구로 클래스 이름 확인 */
.notice .promotion .swiper-pagination .swiper-pagination-bullet {
  background-color: transparent;
  background-image: url("../images/promotion_slide_pager.png");
  width: 12px;
  height: 12px;
  margin-right: 6px;
  outline: none;
}
/* 가장 마지막 동그라미 여백 없게 */
.notice .promotion .swiper-pagination .swiper-pagination-bullet:last-child {
  margin-right: 0;
}
/* active 개발자 도구로 확인 */
.notice .promotion .swiper-pagination .swiper-pagination-bullet-active {
  background-image: url("../images/promotion_slide_pager_on.png");
}
/* 다중선택자, 같은 내용을 작성할때, 오른쪽 왼쪽 위치는 밑에 따로 */
.notice .promotion .swiper-prev,
.notice .promotion .swiper-next {
  width: 42px;
  height: 42px;
  border: 2px solid #333;
  border-radius: 50%;
  position: absolute;
  top: 300px;
  z-index: 1;
  cursor: pointer;
  outline: none;
  /* 화살표 위치 정렬하기 */
  display: flex;
  justify-content: center;
  align-items: center;
  /* 전환 효과 */
  transition: .4s;
}
/* .notice .promotion .swiper-next {
  width: 42px;
  height: 42px;
  border: 2px solid #333;
  border-radius: 50%;
  position: absolute;
  top: 300px;
  z-index: 1;
  cursor: pointer;
  outline: none;
} */
.notice .promotion .swiper-prev {
  left: 50%;
  margin-left: -480px;
}
.notice .promotion .swiper-next {
  right: 50%;
  margin-right: -480px;
}
/* 마우스 올렸을때!! */
.notice .promotion .swiper-prev:hover,
.notice .promotion .swiper-next:hover {
  background-color: #333;
  color: #fff;
}


/* REWARDS */
.rewards {
  position: relative;
}
/* 화면이 축소되어도 리워드 부분이 연장되어 보여지도록, 오른쪽 왼쪽 */
.rewards .bg-left {
  width: 50%;
  height: 100%;
  background-color: #272727;
  position: absolute;
  top: 0;
  left: 0;
}
.rewards .bg-right {
  width: 50%;
  height: 100%;
  background-color: #d5c798;
  position: absolute;
  top: 0;
  right: 0;
}
.rewards .inner {
  background-image: url("../images/rewards.jpg");
  height: 241px;
}
/* 전역속성을 통해서 상단 공통 부분 .inner에 position: relative가 추가되어 있다 */
.rewards .btn-group {
  position: absolute;
  bottom: 24px;
  right: 0;
  width: 250px;
  display: flex;
  flex-wrap: wrap;
}
.rewards .btn-group .btn.sign-up {
  margin-right: 10px;
}
.rewards .btn-group .btn.sign-in {
  width: 110px;
}
.rewards .btn-group .btn.gift {
margin-top: 10px;
/* 증가너비비율, 최대한 너비를 쓸 수 있도록 늘어나라 */
flex-grow: 1;
}


/* YOUTUBE VIDEO */
.youtube {
  position: relative;
  height: 700px;
  background-color: #333;
  /* 넘치는 부분 자르기 */
  overflow: hidden;
}
/* FHD-1920*1080 */
.youtube .youtube__area {
  width: 1920px;
  background-color: orange;
  position: absolute;
  left: 50%;
  margin-left: calc(1920px / -2);
  top: 50%;
  /* 이 요소의 세로너비에 절반 값 계산*/
  /* 가로너비 1920px를 기준으로 세로너비 16:9 될수 있도록 *9/16 
     /-2 해야지 이 요소의 세로너비 절반만큼을 끌어올릴 수 있다. */
  margin-top: calc(1920px * 9 / 16 /-2);
}
/* 가상요소 선택자(::before) = 인라인 요소(가로, 세로 너비를 가질 수 없다) */
/* html요소를 직접적으로 추가하지 않고 css선에서 가상의 요소를 만들어서 content를 추가,
   실제로 내용이 들어가는 것은 아니다. */
.youtube .youtube__area::before {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  /* 내부 위쪽의 여백 */
  padding-top: 56.25%;
}
.youtube .youtube__cover {
  background-image: url("../images/video_cover_pattern.png");
  /* 30%의 불투명도를 가지는 검정색 */
  background-color: rgba(0, 0, 0, .3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* <div id="player"></div> */
/* #player의 부모요소 = .youtube .youtube__area { */
#player {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
/* 화면에 떠있는 이미지 */
.youtube .inner {
  height: 700px;
  /* background-color: royalblue; */
}
.youtube .floating1 {
  position: absolute;
  top: 50px;
  left: 0;
}
.youtube .floating2 {
  position: absolute;
  top: 350px;
  left: 150;
}
.youtube .floating3 {
  position: absolute;
  bottom: -200px;
  right: 0;
}


/* SEASON PRODUCT */
.season-product {
  background-image: url("../images/season_product_bg.jpg");
}
.season-product .inner {
  height: 400px;
}
.season-product .floating3 {
  position: absolute;
  top: -200px;
  right: 0;
}
.season-product .text-group {
  position: absolute;
  top: 110px;
  right: 100px;
}
.season-product .text-group .title{
  margin-bottom: 10px;
}
.season-product .text-group .description {
  margin-bottom: 15px;
}
/* .season-product .text-group .more {
  
} */


/* RESERVE COFFEE */
.reserve-coffee {
  background-image: url("../images/reserve_bg.jpg");
}
.reserve-coffee .inner {
  height: 400px;
}
.reserve-coffee .reserve-logo {
  position: absolute;
  top: 110px;
  left: 0;
}
.reserve-coffee .text-group {
  position: absolute;
  top: 124px;
  left: 208px;
}
.reserve-coffee .product {
  position: absolute;
  top: 0;
  right: 0;
}


/* PICK YOUR FAVORITE */
.pick-your-favorite {
  background-image: url("../images/favorite_bg.jpg");
  /* 배경 이미지 반복 안함 */
  background-repeat: no-repeat;
  /* 화면 중앙에 위치 */
  background-position: center;
  /* 요소가 화면 위 아래 스크롤 될 때 배경 이미지는 뷰포트에 고정 */
  /* Parallax Scrolling(패럴렉스 스크롤링) */
  background-attachment: fixed;
  /* 배경이미지를 크기를 더 넓은 너비에 맞춰서 출력 */
  background-size: cover;
}
.pick-your-favorite .inner {
  padding: 110px 0;
}
.pick-your-favorite .text-group {
  /* background-color: orange; */
  margin-left: 100px;
  width: 326px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.pick-your-favorite .text-group .title {
  margin-bottom: 40px;
}
.pick-your-favorite .text-group .description{
  margin-bottom: 40px;
}


/* RESERVE STORE */
.reserve-store {
  /* Parallax Scrolling(패럴렉스 스크롤링) */
  background-image: url("../images/reserve_store_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
/* 3D 애니메이션 medal */
.reserve-store .inner {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reserve-store .medal {
  width: 334px;
  height: 334px;
  perspective: 600px;
}
/* 다중 선택자 */
.reserve-store .medal .front,
.reserve-store .medal .back {
  width: 334px;
  height: 334px;
  position: absolute;
  backface-visibility: hidden;
  transition: 1s;
}
.reserve-store .medal .front {
  /* 다중선택자로 이동 position: absolute; */
  transform: rotateY(0deg);
}
.reserve-store .medal:hover .front {
  transform: rotateY(180deg);
}
.reserve-store .medal .back {
  transform: rotateY(-180deg);
}
.reserve-store .medal:hover .back {
  transform: rotateY(0deg);
}
.reserve-store .medal .back .btn {
  position: absolute;
  top: 240px;
  left: 0;
  right: 0;
  margin: auto;
}


/* FIND STORE */
.find-store {
background-image: url("../images/find_store_bg.jpg");
}
.find-store .inner {
  height: 400px;
}
.find-store .texture1 {
  position: absolute;
  top: 0;
  left: 400px;
}
.find-store .texture2 {
  position: absolute;
  bottom: 0;
  right: 0;
}
.find-store .picture {
  border-radius: 50%;
  /* x축2px t축2px 블러8px 검정색의불투명도50 */
  box-shadow: 2px 2px 8px rgba(0,0,0,.5);
  position: absolute;
}
.find-store .picture1 {
  /* position: absolute; */
  top: -60px;
  left: 0;
}
.find-store .picture2 {
  /* position: absolute; */
  top: 150px;
  left: 250px;
}
.find-store .text-group {
  position: absolute;
  top: 120px;
  left: 550px;
}
.find-store .text-group .title {
  margin-bottom: 20px;
}
.find-store .text-group .description {
  margin-bottom: 20px;
}


/* AWARDS */
.awards {
  background-color: #272727;
}
.awards .inner {
  padding: 40px 0;
}
.awards .swiper-container {
  width: 100%;
  height: 40px;
}
.awards .swiper-prev,
.awards .swiper-next {
  width: 42px;
  height: 42px;
  border: 2px solid #fff;
  border-radius: 50%;
  outline: none;
  color: #fff;
  opacity: .3;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
.awards .swiper-prev {
  left: -100px;
}
.awards .swiper-next {
  right: -100px;
}
.awards .swiper-prev:hover,
.awards .swiper-next:hover {
  background-color: #fff;
  color: #333;
}



#to-top {
  width: 42px;
  height: 42px;
  background-color: #333;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9;
}